*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.background{
    background-color: #f7f8ff;
    color: #454272;
}
.door button{
    background-color: #0e0a47;
    color: white;
    padding: 12px;
}
.sam ul li{
    padding: 0 15px;
}
.navbar{
    justify-content: center;
    align-content: center;
}
.door a{
    align-content: center;
    padding-top: 10px;
}

.here{
    background-color: #d0d8fc;
    color: black;
    border: none;
    padding: 8px 8px;
    font-size: 13px;
}
.body{
    background-color: #f7f8ff;
    padding-top: 15%;
    padding-bottom: 5%;
}
.Smart{
    font-size: 50px;
color: #1b1642;
}
.all{
    padding-top: 20px;
    font-size: 18px;
    width: 450px;
}
.Solution{
    font-size: 50px;
    color: #1b1642;
}
.Request{
    border: none;
    padding: 10px 12px;
    color: #1b1642;
background-color: white;
font-weight: 600;
border-radius: 5px;
}
.Request:hover {
    background-color: #d0d8fc ;
    transition: 0.5;
}

.free{
    background-color: #0e0a47;
    border: none;
    font-weight: 700;
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
}
.free:hover {
    background-color: orange ;
    transition: 0.5s;
}
.laptop{
    margin-left: -30%;
}

.Rome{
    text-align: center;
    font-size: 40px;
    color: #1b1642;
    padding-top: 30px;
}

small{
    margin-left: 30%;
}
.small{
    padding-left: 80px;
}





@media  screen and (max-width:475px) {
 .here{
    margin-left: 80px;
 }   
 .Smart{
    font-size: 31px;
    margin-left: 20px;
    padding-top: 10px;
 }
 .Solution{
    font-size: 30px;
    margin-left: 10px;
 }
 .all{
    width: 400px;
    margin-left: 10px;
 }
 .aja{
    width: 400px;
    margin-left: 150px;
    padding-top: 30px;
 }
 .Rome{
    font-size: 30px;
 }
}